<h1><%= @bag.name %></h1>

<p> <%= @bag.comments %></p>
<br>
<p> Current Status:
<% if @bag.hunter_id.nil? %>
  <%= 'Awaiting hunter...' %>
<% else %>
  <%= 'In pursuit!' %>
<% end %>
<br>
<p> Assigned Hunter: <%= @bag.hunter.name %></p>
</p>
<p> Estimated Price: <%= @bag.estimated_price %></p>
<br>
<%= link_to "Look inside Bag", user_bag_orders_path(@user, @bag) %>
<br>
<%= link_to "Edit Bag information", edit_user_bag_path(@user, @bag) %>
<br>
<%= link_to "Delete Bag", user_bag_path(@user, @bag), method: :delete, data: { confirm: "Are you sure you want to delete #{@bag.name}?"} %>
<br>
<%= link_to "Back to all Bags", user_bags_path(@user) %>
