<h1><%= @bag.name %></h1>
<div class="container">
<div class="row" id='parentRow'>
  <div class="col-sm-6 jumbotron" id="bagPic">
    <img src="http://image.flaticon.com/icons/svg/214/214268.svg" width="305", height="270">
    </div>
  <div class="col-sm-6 jumbotron" id="bagShowDetail">
<p>Comments:</p>
<p><%= @bag.comments %></p>
<br>
<p>Current Status:</p>
<p><%= @bag.bag_status %></p>
<br>
  <p>Assigned Hunter:</p>
  <p><%= @bag.hunter.name unless @bag.hunter_id.nil?  %></p>
<p> Estimated Price: </p>
<p><%= "$#{@bag.estimated_price}" %></p>
<br>
    <% if @bag.bag_status == 'In pursuit!' %>
      <%= form_tag "/users/#{@user.id}/bags/#{@bag.id}", method: :patch do %>
        <%= hidden_field_tag 'bag[bag_status]', 'Completed!' %>
        <%= submit_tag 'Mark as complete!', class: "btn btn-default" %>
      <% end %>
    <% end %>
</div>
</div>
</div>

<div class="container" id="circleContain">
  <div class="row" id="circleRow">
    <div class="col-sm-3">
    <%= link_to "Look inside Bag", user_bag_orders_path(@user, @bag), class: "circle" %>
</div>
  <div class="col-sm-3">
<%= link_to "Edit Bag information", edit_user_bag_path(@user, @bag), class: "circle" %>
  </div>
  <div class="col-sm-3">
<%= link_to "Delete this Bag", user_bag_path(@user, @bag), method: :delete, data: { confirm: "Are you sure you want to delete #{@bag.name}?"}, class: "circle" %>
</div>
  <div class="col-sm-3">
<%= link_to "Back to all Bags", user_bags_path(@user), class: "circle" %>
</div>
</div>
</div>
