<div class="container">
  <div class="row" id="orderContents">
  <h1><%= @bag.name %></h1>

  <%= "Current Status: #{@bag.bag_status}" %>
  <br>
  <br>
  <% if current_user.id != @bag.user_id %>
    <% @orders.each do |order| %>
    <%= "#{order.food.ingredient}: #{order.quantity} #{order.uom}" %>
  <br>
  <% end %>

    <% if @bag.hunter_id == nil %>
      <%= form_tag "/users/#{@user.id}/bags/#{@bag.id}", method: :patch do %>
      <%= hidden_field_tag 'bag[hunter_id]', current_user.id %>
      <%= hidden_field_tag 'bag[bag_status]', 'In pursuit!' %>
      <%= submit_tag 'Accept Mission!' %>
    <% end %>
  <% end %>
  <%= link_to 'Back to Bounty Board', bounties_path(current_user) %>
<% else %>

  <div>
    <% @orders.each do |order| %>
        <%= link_to "#{order.food.ingredient}: #{order.quantity} #{order.uom}", user_bag_order_path(@user, @bag, order)%>
        <br>
        <% end %>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if @bag.bag_status == 'Awaiting hunter...' %>
        <p><%= link_to "Add a Food", new_user_bag_order_path(@user, @bag), class: "circle" %></p>
      <% end %>
      </div>
    <div class="col-sm-4">
      <p><%= link_to "Back to Bag", user_bag_path(@user, @bag), class: "circle" %></p>
      </div>
    <div class="col-sm-4">
      <p><%= link_to "Back to All Bags", user_bags_path, class: "circle" %></p>
      </div>
  </div>
  <% end %>
  </div>
