<h1><%= @bag.name %></h1>

<%= "Current Status: #{@bag.bag_status}" %>
<br>
<% if current_user.id != @bag.user_id %>
  <% @orders.each do |order| %>
  <%= "#{order.food.ingredient}" %>
  <br>
  <% end %>

    <% if @bag.hunter_id == nil %>
      <%= form_tag "/users/#{@user.id}/bags/#{@bag.id}", method: :patch do %>
      <%= hidden_field_tag 'bag[hunter_id]', current_user.id %>
      <%= hidden_field_tag 'bag[bag_status]', 'In pursuit!' %>
      <%= submit_tag 'Accept Mission!' %>
    <% end %>
  <% end %>
  <%= link_to 'Back to Bounty Board', bounties_path(current_user) %>
<% else %>

  <div>
    <% @orders.each do |order| %>
        <%= link_to "#{order.food.ingredient}", user_bag_order_path(@user, @bag, order)%>
        <br>
        <% end %>
</div>
    <p><%= link_to "Add Food", new_user_bag_order_path(@user, @bag) %></p>
    <p><%= link_to "Back to Bag", user_bag_path(@user, @bag) %></p>
    <p><%= link_to "Back to All Bags", user_bags_path %></p>
  <% end %>
