<div class="container" id="newFood">
<h2>Add a Food</h2>
  <div class="row">
    <%= form_for @order, url: user_bag_orders_path(@user, @bag), method: :post do |f| %>

      <p>Food</p> <%= f.collection_select :food_id, Food.order(:ingredient),:id,:ingredient, include_blank: true %>

     <div>
      <%= f.label :'Unit of Measurement' %><br>
      <%= f.text_field :uom %>
  </div>

     <div>
      <%= f.label :Quantity %><br>
      <%= f.text_field :quantity %>
  </div>
    <br>
  <%= f.submit "Add to list!", class:"btn btn-default" %>

<% end %>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
<%= link_to "Back to All Bags", user_bags_path, class: "circle" %>
  </div>
</div>
