<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Irish+Grover" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default">
<p id='brand' class="navbar-text navbar-left">
  <%= link_to 'FEED ME', root_path %>
</p>
<p class="navbar-text navbar-right">
  <% if current_user %>
       Welcome, <%= current_user.name %> | <%= link_to 'Log Out ', logout_path %>
  <% else %>
      <%= link_to 'Login', login_path %>
      <% end %>
</p>

  </nav>
<%= yield %>

</body>
</html>
