<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Irish+Grover" rel="stylesheet">
</head>
<body>
      <div class="navbar navbar-default navbar-static top" id='brand'>
          <div class="container">
            <div class="navbar-brand">
          <% if current_user %>
              <% if current_user.is_hunter %>
                  <%= link_to 'FEED ME', bounties_path(current_user) %>
              <% else %>
                  <%= link_to 'FEED ME', user_path(current_user.id) %>
              <% end %>
          <% else %>
                  <%= link_to 'FEED ME', root_path %>
          <% end %>
            </div>

              <button class="navbar-toggle" data-toggle="collapse" data-target = ".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

          <div class = "collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right" id="username">
        <% if current_user %>
            <li><%= link_to "#{current_user.name}", edit_user_path(current_user) %></li>
            <li><%= link_to 'Log Out ', logout_path %></li>
        <% else %>
            <li><%= link_to 'Login', login_path %></li>
        <% end %>
          </ul>
            </div>
          </div>
        </div>
  <div class="jumbotron" id="box-wrapper">
    <div class="container" id="mainContent">

<%= yield %>
      </div>
    </div>

</body>
</html>
